body {
    background-color: #d0f0d0;
    font-family: Arial, Helvetica, sans-serif;
    font: 16px Arial, sans-serif;
    justify-content: center;
}

@font-face {
    font-family: "idroid";
    src: url("fontes/idroid.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "bebas";
    src: url("fontes/BebasNeue-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

header {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom, #4fc875, #0e361b);
    text-align: center;
    padding-top: 50px;
    color: white;
    justify-content: center;

}



.navbar {
    justify-content: center;
    padding: 3px 25px;
    width: 20%;
    margin: 0 15 flex;
    font-size: 19px;
}

.navbar>a {
    padding-top: 10px;
    padding: .5px;
    color: rgb(200, 227, 200);
    transition-duration: .5s;
    border-radius: 5px;
}

.navbar>a:hover {
    font-weight: bold;
    background-color: #1C6D36;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


.container {
    width: 80%;
    margin: 0px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 10px 8px 9px #b8d4b8;
    width: 800px;
    text-align: justify;
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: center;
}

.container p {
    margin: 15px 0px;
    line-height: 2em;
}

.container2 {

    width: 80%;
    margin: 0 auto;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 6px 6px 5px #b8d4b8;
    border-radius: 10px;
    background-color: #d0f0d0;
    width: 750px;
    overflow: hidden;
}

#p1 {
    color: #1C6D36;

}

#p2 {
    text-indent: 30px;

}

#p3 {
    background-color: #2fa866;
    color: white;
    margin: 1px;
    padding: 9px;

}

#p4 {
    text-indent: 30px;
    margin-left: 8px;
    margin-bottom: 5px;
    margin-right: 8px;
}

h1 {
    font-family: 'bebas';
    justify-content: center;
    font-size: 40px;
    font-weight: 3;


}

.titulo {
    font-family: 'idroid';
    justify-content: center;
    color: #1C6D36;

}

h2 {
    font-family: 'idroid';
    justify-content: center;
    color: #1C6D36;
}

p {
    justify-content: center;
}


#lista {
    padding-left: 180px;
    justify-content: center;
}

.link {
    color: black;
    text-decoration: underline;
}

#final {
    text-indent: 30px;
    margin: 20px;
    justify-content: center;
}

.picture {
    display: flex;
    justify-content: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.destaque {
    background-image: linear-gradient(to right, #d0f0d0, white);
    justify-content: center;
}

#video {

    text-align: center;
    height: 350px;
    width: 93, 5%;
    border-width: 50px;
    border-top: 30px;
    border-bottom: 30px;
    border-style: solid;
    border-color: #1C6D36;
    justify-content: center;
}

footer {
    background-color: #1C6D36;
    color: #b5ecb5;
    text-align: center;
    padding: 1px;
    text-decoration: none;
    margin: 20px;
    justify-content: center;
}

#f2 {
    color: white;
}